<?xml version="1.0" encoding="utf-8"?>
<launch>
  <rosparam file="$(find jaka_zu3_myurdf)/config/jaka_zu3_gazebo_control.yaml" command="load" />
  
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
      output="screen" ns="/jaka_zu3" args="joint_state_controller
      joint1_position_controller
      joint2_position_controller
      joint3_position_controller
      joint4_position_controller
      joint5_position_controller
      joint6_position_controller
      "/>

  <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen" ns="/jaka_zu3" >
    <remap from="/joint_states" to="/jaka_zu3/joint_states"/>
  </node> -->

</launch>